<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Auburn Engineering Mentoring</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <style>
body{
    color:black;
    background-color: white;
    height:100%;
    overflow: auto;
    min-height: 100%;
    height:100%;
}
a {
    color: white;
}
a:hover { 
    color:black;
  background-color: #fde2ce ;
} 


.line {
    width: 100%;
    height: 0px;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: #dd550c;
    position: absolute;
}


.navbar{
    background-color: #03244d;
    color: white;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: #dd550c;
    padding-bottom: 0;

}

.focus{
    color: white;
    background-color: transparent; 
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #dd550c;
}

.btn {
    background-color: lightgrey;
    color: black;
    font-size: 12px;
}

        </style>
<script>

$(window).on("unload", function () { 
  $.get('/logout');
});

</script>
        <!-- Place favicon.ico in the root directory -->
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


         <nav class="navbar navbar-default mavbar-toggle" >
            <div class="container-fluid">
                <div class="navbar-header">
                 Auburn Engineering Mentoring
                  
                </div>
                
                 <!-- html here to show when logged in
                 <button style="float:right" type="button" onClick="location.href='logout.php'" class="btn btn-default navbar-btn">Log Out</button> -->
               
                <!-- html that's shown either way -->
                
                {{#if isAuthenticated}}
                <button style="float:right" type="button" onclick="window.location.href='logout'" class="btn btn-default navbar-btn">SIGN OUT</button>
                {{else}}
                  <button style="float:right" type="button" onclick="window.location.href='login'" class="btn btn-default navbar-btn">SIGN IN</button>
                {{/if}}
                <div class="container-fluid" id="pmHeader">
                    <ul class="nav ">
                      <li class="nav-item">
                        <a class="nav-link" onclick="window.location.href='/'">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"  onclick="window.location.href='programs'" >Programs</a>
                      </li>
	                {{#if isAuthenticated }}
                      {{#unless Admin}}
                      <!-- html here to show when logged in -->
                      {{#if hasProg}}
                        <li class="nav-item">
                            <a class="nav-link" onclick="window.location.href='survey'">Survey</a>
                        </li>
                        {{/if}}
                        <li class="nav-item">
                            <a class="nav-link" onclick="window.location.href='profile'">My Profile</a>
                        </li>
                        {{/unless}}
                  {{/if}}
                    {{#if isAuthenticated}}
                      {{#if Mentor}}
                        <li class="nav-item">
                          <a class="nav-link " onclick="window.location.href='resources'">Resources</a>
                        </li>
                      {{/if}}
                    {{/if}}

                    {{#if isAuthenticated}}
                      {{#if Admin}}
                          <li class="nav-item">
                            <a class="nav-link " onclick="window.location.href='admin'">Admin Dash</a>
                          </li>
                        {{/if}}
                    {{/if}}
                    </ul>
                </div>
               
            </div>
          
        </nav>

