<!DOCTYPE html>
<html>
	<head>
		<title>Generate Report?</title>
		<link type="text/javascript" src="server.js">
	</head>
	<body>
		<div class='container'>
			<button onclick='window.open("report")'>Generate Report</button>
		</div>	
	</body>
</html>
