<h2>
    Please check your email for an email from us! 
   

</h2>
<br>
<h5> 
     Follow the link in the email to complete your 
     account registration. Be sure to check your
     Junk folder if you do not see the email in your 
     Inbox.
</h5>