<style>
  .imgProg {
    height: 300px;
    width: 100%;
    object-fit: fill;
  }
</style>
<br>
<br>
  <div class="jumbotron" style="background-image:url('images/jumbotron-img.jpg');">
    <h1>Auburn Engineering Mentoring</h1> 
  </div>     
     <div class="row" >	
				<div class="card " style="width:31%; padding:5pt; margin:  auto;">
          <img src="uploads/programImages/weasel.jpeg" class="card-img-top imgProg" alt="100%x200">
          <div class="card-body">
            <h5 class="card-title">Engineering Alumni Mentoring Program</h5>
            <p class="card-text">This is a blurb about the Engineering Alumni Mentoring Program </p>
            <a href="programInfo?id=2" class="btn btn-primary" style="border-style:none;">Learn more</a>
          </div>
        </div>
        <div class="card " style="width:31%; padding:5pt; margin:   auto;">
          <img src="uploads/programImages/acm.png" class="card-img-top imgProg" alt="100%x200">
          <div class="card-body">
             <h5 class="card-title">ACM</h5>
            <p class="card-text">ACM is The Association for Computing Machinery</p>
            <a href="programInfo?id=1" class="btn btn-primary" style="border-style:none;">Learn more</a>
          </div>
        </div>
        <div class="card" style="width:31%; padding:5pt; margin: auto;">
          <img src="uploads/programImages/weasel.jpeg" class="card-img-top imgProg" alt="100%x200">
          <div class="card-body">
            <h5 class="card-title">Engineering Young Alumni Program</h5>
            <p class="card-text">Engineering Young Alumni Program short blurb here</p>
           <a href="programInfo?id=3" class="btn btn-primary" style="border-style:none;">Learn more</a>
          </div>
        </div>
     	
	
	</div>
<br>
<br>

