<style>
  .imgProg {
    height: 300px;
    width: 100%;
    object-fit: fill;
  }
</style>
<br>
<br>
  <div class="jumbotron" style="background-image:url('images/jumbotron-img.jpg');">
    <h1>Auburn Engineering Mentoring</h1> 
  </div>     
     <div class="row" >	
				<div class="card " style="width:31%; padding:5pt; margin:  auto;">
          <img src="uploads/weasel.jpeg" class="card-img-top imgProg" alt="100%x200">
          <div class="card-body">
            <h5 class="card-title">Program title</h5>
            <p class="card-text">Some quick example text to preview the program and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary" style="border-style:none;">Join</a> <!-- link to external organization's homepage -->
            <a href="#" class="btn btn-primary" style="border-style:none;">Learn more</a>
          </div>
        </div>
        <div class="card " style="width:31%; padding:5pt; margin:   auto;">
          <img src="uploads/bird.jpeg" class="card-img-top imgProg" alt="100%x200">
          <div class="card-body">
            <h5 class="card-title">Program title</h5>
            <p class="card-text">Some quick example text to preview the program and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary" style="border-style:none;">Join</a> <!-- link to external organization's homepage -->
            <a href="#" class="btn btn-primary" style="border-style:none;">Learn more</a>
          </div>
        </div>
        <div class="card" style="width:31%; padding:5pt; margin: auto;">
          <img src="uploads/weasel.jpeg" class="card-img-top imgProg" alt="100%x200">
          <div class="card-body">
            <h5 class="card-title">Program title</h5>
            <p class="card-text">Some quick example text to preview the program and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary" style="border-style:none;">Join</a> <!-- link to external organization's homepage -->
            <a href="#" class="btn btn-primary" style="border-style:none;">Learn more</a>
          </div>
        </div>
     	
	
	</div>
<br>
<br>

