<!doctype html> 
<html>
    <head>
        <title>Auburn Peer Mentoring</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       <link rel="stylesheet" href="css/peermentoringstyle.css">
    </head>
    <body>
       <div class="jumbotron" style="background-image:url('images/jumbotron-img.jpg');">
    <h1>Auburn Peer Mentoring Program</h1> 
  </div>     
     <div style="padding:5pt;" class="row">	

     	<div  class="col-sm-6 col-md-4"> 
     		<div class="thumbnail"> <img alt="100%x200"  src="images/thumbnail.png" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;"> 
				<div class="caption">
					 <h3>Thumbnail label</h3> 
					 <p>The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.</p> <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
			 	</div> 
			</div> 
		</div>
		<div class="col-sm-6 col-md-4"> 
     		<div class="thumbnail"> <img alt="100%x200"  src="images/thumbnail.png" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;"> 
				<div class="caption">
					 <h3>Thumbnail label</h3> 
					 <p>The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.</p> <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
			 	</div> 
			</div> 
		</div>
		<div class="col-sm-6 col-md-4"> 
     		<div class="thumbnail"> <img alt="100%x200"  src="images/thumbnail.png" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;"> 
				<div class="caption">
					 <h3>Thumbnail label</h3> 
					 <p>The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.</p> <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
			 	</div> 
			</div> 
		</div>
	
	</div>

     </body>
</html>

