<head>
	<title>Auburn Mentoring - Profile</title>
	<link rel='stylesheet' href='css/profile.css' type='text/css'>
	<link type="text/javascript" src="/profile.js">
</head>
<body>
	<div class="container">
		<form id="edit" method="POST">
			<div class="profileBox">
				<div class="avatar" >
					<img src="images/download.png" alt="Circle Image" class="img-raised rounded-circle img-fluid" style="display: block; margin-right: auto;margin-left: auto;">
				</div>

				<div class="userInfo">

					<b>Name: </b><p class="test"></p>
						<script type="text/javascript">
							var name = 'Groot';
							document.getElementById("insert").innerHTML = name;
						</script>
				</div>
				<div class="userInfo">
					<b>E-mail: </b>
				</div>
				<div class="userInfo">
					<b>Username: </b>
				</div>
				<div class="userInfo">
					<b>Birthdate: </b>
				</div>

				<button type="button" onclick="window.location.href='profileUpdate'">Edit Info</button>
			</div>

		</div>
		<div class="row" >
			<br>
		</div>

	
</body>