<html>
<head>
	<title>Auburn Mentoring - Update Profile</title>
	<link rel='stylesheet' href='css/profile.css' type='text/css'>
</head>
<body>
<div class="profileBox">
	
		<p>Enter information below that you would like to change.</p><br>
		<form action="" method="post">

		<div class="userInfo">
		</div>
		
		<div class="userInfo">
			
		</div>

		<div class="userInfo">
		</div>

		<div class="userInfo">
		</div>

		<div class="userInfo">
		</div>
		
		<button type="submit" value = 'submit'>UPDATE</button>
		<button type="button" onclick="window.location.href='profile'">CANCEL</button>
		</form>

</div>
</body>
</html>