<br>
<div class="container" >
    <div class="row">
    <div class="card" style="width:50%;padding:10pt;margin-right:auto;margin-left:auto;display:inline-block">
            Thank you for completing the survey! We think you would get along well with some of these mentors in your program.
            <br>
        <br>
            <br> 
            <br>
            <br>
            You matched with: Michael
        </div>
    </div>
    </div>
    
