<div class="col-sm-9 col-md-7 col-lg-9 mx-auto">
   <h1> Matching Survey</h1>
   <p>details and instructions go here..</p>
      <hr>
   <form method="post">


   <h5> Gender </h5> 

      <input type="radio" name="A1" id= "A1" value="male"> Male
         <br/>
      <input type="radio" name="A1" id="A1" value="female"> Female
         <br/>
      <input type="radio" name="A1" id ="A1" value="other"> Prefer not to Respond

   <hr>

   <h5> Classification </h5>

      <input type="radio" name="A2" id= "A2" value="freshman"> Freshman
         <br/>
      <input type="radio" name="A2" id= "A2" value="sophomore"> Sophomore
         <br/>
      <input type="radio" name="A2" id= "A2" value="junior"> Junior
         <br/>
      <input type="radio" name="A2" id= "A2" value="senior"> Senior
         <br/>
      <input type="radio" name="A2" id= "A2" value="young_alumni"> Young Alumni (graduated in the last 5 years)

   <hr>

   <h5> What degree/major have you earned or are currently pursuing? </h5>
      <input type="text" id= "A3 "name="A3"> 
   <hr>

   <h5> Where are you from originally? Geographic Region </h5>
      <input type="text" id= "A4" name="A4"> 
   <hr>

   <h5> Where is your current hometown (city and state or country - if outside of the US)? </h5>
      <input type="text" id= "A5" name="A5"> 
   <hr>

   <h5> I want to participate as a </h5>
      <input type="radio" id= "A6" name="A6" value="mentee"> Mentee (must be a current Auburn student)
      <br/>
      <input type="radio" id= "A6" name="A6" value="mentor"> Mentor (must be an Auburn graduate or current faculty/staff member
      <br/>
   <hr>
   <h5> Why do you want to have a mentor? (choose your primary motivation) </h5>
      <input type="radio" id= "A7" name="A7"> Help me succedd academically
         <br/>
      <input type="radio" id= "A7" name="A7"> Make connections with Auburn alumni
         <br/>
      <input type="radio" id= "A7" name="A7"> Get career advice
         <br/>
      <input type="radio" id= "A7" name="A7"> Get more involved at Auburn with others in my major
         <br/>
      <input type="radio" id= "A7" name="A7"> Get general advice about how to manage the academic demands at Auburn
         <br/>
      <input type="radio" id= "A7" name="A7"> Make professional connections for possible career opportunities

   <hr>
   <h5> Why do you want to be a mentor? (Choose your primary motivation) </h5>
      <input type="radio" id= "A8" name="A8"> To help Auburn students succeed academically
         <br/>
      <input type="radio" id= "A8" name="A8"> Connect with students as an Auburn Alumnus to encourage them to succeed
         <br/>
      <input type="radio" id= "A8" name="A8"> Provide career guidance and advice to current Auburn students
         <br/>
      <input type="radio" id= "A8" name="A8"> Help Auburn students get more involved and connect with others in their field of study
         <br/>
      <input type="radio" id= "A8" name="A8"> Help provide general advice and support for Auburn students
         <br/>
      <input type="radio" id= "A8" name="A8"> Help Auburn students better prepare for their career and professional life


   <hr>
   <h5> What is your preferred communication when participating in this program? </h5>
      <input type="radio" id= "A9" name="A9"> Email
         <br/>
      <input type="radio" id= "A9" name="A9"> Video Chat
         <br/>
      <input type="radio" id= "A9" name="A9"> Phone
         <br/>
      <input type="radio" id= "A9" name="A9"> In Person


   <hr>
   <h5> Activities that describe what I like to do </h5>
      <input type="checkbox" id= "A10" name="A10"> Protect the enivornment
         <br/>
      <input type="checkbox"  id= "A10" name="A10"> Being active
         <br/>
      <input type="checkbox" id= "A10" name="A10"> Reading and researching
         <br/>
      <input type="checkbox" id= "A10" name="A10"> Being outdoors in nature
         <br/>
      <input type="checkbox" id= "A10" name="A10"> Invent or create
         <br/>
      <input type="checkbox" id= "A10" name="A10"> Plan, budget and organize
         <br/>
      <input type="checkbox" id= "A10" name="A10"> Serve the community or help others
         <br/>
      <input type="checkbox" id= "A10" name="A10"> Work with computers
         <br/>
      <input type="checkbox" id= "A10" name="A10"> Create reports and communicate ideas
         <br/>
      <input type="checkbox" id= "A10" name="A10"> Analyze numbers and trends
         <br/>
      <input type="checkbox" id= "A10" name="A10"> Working in teams

   <hr>
   <h5> Personal qualities that describe me </h5>
      <input type="checkbox" id= "A11" name="A11"> Self-reliant
         <br/>
      <input type="checkbox" id= "A11" name="A11"> Nature lover
         <br/>
      <input type="checkbox" id= "A11" name="A11"> Into health and wellness
         <br/>
      <input type="checkbox" id= "A11" name="A11"> Physically active
         <br/>
      <input type="checkbox" id= "A11" name="A11"> Planner
         <br/>
      <input type="checkbox" id= "A11" name="A11"> Creative Problem Solver
         <br/>
      <input type="checkbox" id= "A11" name="A11"> Into computers and technology
         <br/>
      <input type="checkbox" id= "A11" name="A11"> Good and visualizing possbilities
         <br/>
      <input type="checkbox"  id= "A11" name="A11"> Relate well to others
         <br/>
      <input type="checkbox" id= "A11" name="A11"> Patient and Persistent

   <hr>
   <h5> Areas of study or learning interests </h5>
      <input type="checkbox" id= "A12" name="A12"> Math
         <br/>
      <input type="checkbox" id= "A12" name="A12"> Life Sciences
         <br/>
      <input type="checkbox" id= "A12" name="A12"> Technology
         <br/>
      <input type="checkbox" id= "A12" name="A12"> Physical Science
         <br/>
      <input type="checkbox" id= "A12" name="A12"> History
         <br/>
      <input type="checkbox" id= "A12"name="A12"> Politics
         <br/>
      <input type="checkbox" id= "A12" name="A12"> Art/Graphic Design
         <br/>
      <input type="checkbox" id= "A12" name="A12"> Music
         <br/>
      <input type="checkbox" id= "A12" name="A12"> Journalism/Literature
         <br/>
      <input type="checkbox" id= "A12" name="A12"> Business
         <br/>
      <input type="checkbox" id= "A12" name="A12"> Law

   <hr>
   <h5> What clubs, groups, teams or organizations do you belong to? </h5>
      <input type="text" id= "A13" name="A13"> 

   <hr>
   <h5> If people were to come to you for information about something you know a lot about, what would the topic be? </h5>
      <input type="text" id= "A14" name="A14">

   <hr>
   <h5> If you could interview an expert on any subject, who would you talk to and on what subject? </h5>
      <input type="text" id= "A15" name="A15">

   <hr>
      <br/>
      <br/>
      <input class="btn" type="submit">
   </form>
</div>



      {{!-- <script language = "javascript" type = "text/javascript">
         <!-- 
         //Browser Support Code
         function ajaxFunction() {
            var ajaxRequest;  // The variable that makes Ajax possible!
            
            try {        
               // Opera 8.0+, Firefox, Safari
               ajaxRequest = new XMLHttpRequest();
            } catch (e) {
               
               // Internet Explorer Browsers
               try {
                  ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
               } catch (e) {
                  
                  try {
                     ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
                  } catch (e) {
                     // Something went wrong
                     alert("Your browser broke!");
                     return false;
                  }
               }
            }
            
            // Create a function that will receive data
            // sent from the server and will update
            // the database
            ajaxRequest.onreadystatechange = function() {
            
               if(ajaxRequest.readyState == 4) {
                  var ajaxDisplay = document.getElementById('ajaxDiv');
                  ajaxDisplay.innerHTML = ajaxRequest.responseText;
               }
            }
            
            // Now get the value from user and pass it to
            // server script.
            var A1 = document.getElementById('A1').value;
            var A2 = document.getElementById('A2').value;
            var A3 = document.getElementById('A3').value;
            var A4 = document.getElementById('A4').value;
            var A5 = document.getElementById('A5').value;
            var A6 = document.getElementById('A6').value;
            var A7 = document.getElementById('A7').value;
            var A8 = document.getElementById('A8').value;
            var A9 = document.getElementById('A9').value;
            var A10 = document.getElementById('A10').value;
            var A11 = document.getElementById('A11').value;
            var A12 = document.getElementById('A12').value;
            var A13 = document.getElementById('A13').value;
            var A14 = document.getElementById('A14').value;
            var A15 = document.getElementById('A15').value;
            var queryString = "?A1 = " + A1 ;
            queryString +=  "&A2 = " + A2 + "&A3 = " + A3
            + "&A4 = " + A4 + "&A5 = " + A5 + "&A6 = " + A6
            + "&A7 = " + A7 + "&A8 = " + A8 + "&A9 = " + A9
            + "&A10 = " + A10 + "&A11 = " + A11 + "&A12 = " + A12
            + "&A13 = " + A13 + "&A14 = " + A14 + "&A15 = " + A15;
            ajaxRequest.open("GET", true);
            ajaxRequest.send(null); 
         }
         //-->
      </script> --}}